{% extends "base.html" %}


{% block title %}

About - Python Blog

{% endblock %}


{% block content %}


<div class="container my-5">

    <div class="content-box">

        <h1>
            About This Project 🐍
        </h1>


        <p class="lead">

            This is my Day 60 project from
            my 100 Days of Python journey.

        </p>


        <p>

            The blog uses Flask and SQLite to
            store and retrieve blog posts.

        </p>


        <p>

            This project helped me understand how
            Python web applications can work with
            databases.

        </p>

    </div>

</div>


{% endblock %}