{% extends "base.html" %}


{% block title %}

About - Python Blog

{% endblock %}


{% block content %}

<div class="container my-5">

    <div class="content-box">

        <h1>
            About This Project 🐍
        </h1>

        <p class="lead">

            This is my Day 59 Flask project
            from my 100 Days of Python journey.

        </p>

        <p>

            The application demonstrates how a Flask
            application can retrieve JSON data from
            an external API and display it dynamically
            using Jinja templates.

        </p>

    </div>

</div>

{% endblock %}