{% extends "base.html" %}


{% block title %}

Contact - Python Blog

{% endblock %}


{% block content %}

<div class="container my-5">

    <div class="content-box">

        <h1>
            Contact Me 📩
        </h1>

        <p class="lead">
            Thanks for visiting my blog!
        </p>

        <p>
            📧 Email: example@email.com
        </p>

        <p>
            💻 GitHub: github.com
        </p>

        <p>
            💼 LinkedIn: linkedin.com
        </p>

    </div>

</div>

{% endblock %}