{% extends "base.html" %}


{% block title %}

About - Python Blog

{% endblock %}


{% block content %}


<div class="container my-5">

    <div class="content-box">

        <h1>
            About Me 👋
        </h1>

        <p class="lead">

            I'm learning Python and web development
            through the 100 Days of Python challenge.

        </p>

        <p>

            My goal is to improve my programming skills
            by building practical projects every day.

        </p>

        <p>

            Currently I'm exploring Flask, Jinja,
            HTML, CSS and Bootstrap.

        </p>

    </div>

</div>


{% endblock %}