<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        Mission Control
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>


<body>

<header class="navbar">

    <div class="container nav-content">

        <a
            href="{{ url_for('index') }}"
            class="logo"
        >
            🚀 Mission Control
        </a>

        <span class="day-label">
            Day 99 • Python
        </span>

    </div>

</header>


<main>

    {% block content %}
    {% endblock %}

</main>


<footer>

    <p>
        Built with Python & Flask
        • 100 Days of Python
    </p>

</footer>


<script
    src="{{ url_for('static', filename='script.js') }}"
></script>

</body>

</html>