{% extends "base.html" %}


{% block title %}

Login | SecureAuth

{% endblock %}


{% block content %}


<div class="auth-page">

    <div class="auth-card">

        <div class="auth-icon">
            🔐
        </div>


        <h1>
            Welcome Back
        </h1>

        <p class="text-muted">
            Login to access your account.
        </p>


        <form
            method="POST"
            class="mt-4"
        >


            <div class="mb-3">

                <label
                    for="email"
                    class="form-label"
                >
                    Email Address
                </label>

                <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="you@example.com"
                    required
                >

            </div>


            <div class="mb-3">

                <label
                    for="password"
                    class="form-label"
                >
                    Password
                </label>

                <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter your password"
                    required
                >

            </div>


            <button
                type="submit"
                class="btn btn-dark w-100 btn-lg"
            >
                Login
            </button>


        </form>


        <p class="auth-footer">

            Don't have an account?

            <a href="{{ url_for('register') }}">
                Create one
            </a>

        </p>


    </div>

</div>


{% endblock %}