STOCK_SYMBOL=TSLA
COMPANY_NAME=Tesla

STOCK_API_KEY=your_alpha_vantage_api_key
NEWS_API_KEY=your_news_api_key

CHANGE_THRESHOLD=5

TWILIO_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_FROM=your_twilio_phone_number
TWILIO_TO=your_phone_number