{% extends "base.html" %}

{% block title %}
Dashboard | SecureAuth
{% endblock %}


{% block content %}

<div class="dashboard">

    <div class="success-icon">
        ✓
    </div>

    <p class="eyebrow">
        AUTHENTICATED AREA
    </p>

    <h1>
        Welcome, {{ current_user.name }}!
    </h1>

    <p>
        You successfully logged in and accessed
        this protected page.
    </p>


    <div class="user-info">

        <div>

            <span>
                Name
            </span>

            <strong>
                {{ current_user.name }}
            </strong>

        </div>


        <div>

            <span>
                Email
            </span>

            <strong>
                {{ current_user.email }}
            </strong>

        </div>

    </div>


    <a
        href="{{ url_for('logout') }}"
        class="btn btn-primary"
    >
        Logout
    </a>

</div>

{% endblock %}