{% extends "base.html" %}

{% block title %}
About
{% endblock %}


{% block content %}

<div class="container my-5">

    <div class="content-box">

        <h1>
            About This Project 🐍
        </h1>

        <p class="lead">
            This is my Day 61 Flask Blog project.
        </p>

        <p>
            The application uses Flask,
            SQLite and SQLAlchemy to create
            a database-driven blog.
        </p>

        <p>
            Users can create, read, update and
            delete blog posts.
        </p>

    </div>

</div>

{% endblock %}